@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	:root {
		--background: 0 0% 100%;
		--foreground: 222.2 84% 4.9%;

		--card: 0 0% 100%;
		--card-foreground: 222.2 84% 4.9%;

		--popover: 0 0% 100%;
		--popover-foreground: 222.2 84% 4.9%;

		--primary: 222.2 47.4% 11.2%;
		--primary-foreground: 210 40% 98%;

		--secondary: 210 40% 96.1%;
		--secondary-foreground: 222.2 47.4% 11.2%;

		--muted: 210 40% 96.1%;
		--muted-foreground: 215.4 16.3% 46.9%;

		--accent: 210 40% 96.1%;
		--accent-foreground: 222.2 47.4% 11.2%;

		--destructive: 0 84.2% 60.2%;
		--destructive-foreground: 210 40% 98%;

		--border: 214.3 31.8% 91.4%;
		--input: 214.3 31.8% 91.4%;
		--ring: 222.2 84% 4.9%;

		--radius: 0.5rem;

		--gray1: hsl(0, 0%, 99%);
		--gray2: hsl(0, 0%, 97.3%);
		--gray3: hsl(0, 0%, 95.1%);
		--gray4: hsl(0, 0%, 93%);
		--gray5: hsl(0, 0%, 90.9%);
		--gray6: hsl(0, 0%, 88.7%);
		--gray7: hsl(0, 0%, 85.8%);
		--gray8: hsl(0, 0%, 78%);
		--gray9: hsl(0, 0%, 56.1%);
		--gray10: hsl(0, 0%, 52.3%);
		--gray11: hsl(0, 0%, 43.5%);
		--gray12: hsl(0, 0%, 9%);

		--grayA1: hsla(0, 0%, 0%, 0.012);
		--grayA2: hsla(0, 0%, 0%, 0.027);
		--grayA3: hsla(0, 0%, 0%, 0.047);
		--grayA4: hsla(0, 0%, 0%, 0.071);
		--grayA5: hsla(0, 0%, 0%, 0.09);
		--grayA6: hsla(0, 0%, 0%, 0.114);
		--grayA7: hsla(0, 0%, 0%, 0.141);
		--grayA8: hsla(0, 0%, 0%, 0.22);
		--grayA9: hsla(0, 0%, 0%, 0.439);
		--grayA10: hsla(0, 0%, 0%, 0.478);
		--grayA11: hsla(0, 0%, 0%, 0.565);
		--grayA12: hsla(0, 0%, 0%, 0.91);

		--blue1: hsl(206, 100%, 99.2%);
		--blue2: hsl(210, 100%, 98%);
		--blue3: hsl(209, 100%, 96.5%);
		--blue4: hsl(210, 98.8%, 94%);
		--blue5: hsl(209, 95%, 90.1%);
		--blue6: hsl(209, 81.2%, 84.5%);
		--blue7: hsl(208, 77.5%, 76.9%);
		--blue8: hsl(206, 81.9%, 65.3%);
		--blue9: hsl(206, 100%, 50%);
		--blue10: hsl(208, 100%, 47.3%);
		--blue11: hsl(211, 100%, 43.2%);
		--blue12: hsl(211, 100%, 15%);
	}

	.dark {
		--background: 222.2 84% 4.9%;
		--foreground: 210 40% 98%;

		--card: 222.2 84% 4.9%;
		--card-foreground: 210 40% 98%;

		--popover: 222.2 84% 4.9%;
		--popover-foreground: 210 40% 98%;

		--primary: 210 40% 98%;
		--primary-foreground: 222.2 47.4% 11.2%;

		--secondary: 217.2 32.6% 17.5%;
		--secondary-foreground: 210 40% 98%;

		--muted: 217.2 32.6% 17.5%;
		--muted-foreground: 215 20.2% 65.1%;

		--accent: 217.2 32.6% 17.5%;
		--accent-foreground: 210 40% 98%;

		--destructive: 0 62.8% 30.6%;
		--destructive-foreground: 210 40% 98%;

		--border: 217.2 32.6% 17.5%;
		--input: 217.2 32.6% 17.5%;
		--ring: 212.7 26.8% 83.9%;

		--app-bg: var(--gray1);

		--lowContrast: #000000;
		--highContrast: #ffffff;

		--gray1: hsl(0, 0%, 8.5%);
		--gray2: hsl(0, 0%, 11%);
		--gray3: hsl(0, 0%, 13.6%);
		--gray4: hsl(0, 0%, 15.8%);
		--gray5: hsl(0, 0%, 17.9%);
		--gray6: hsl(0, 0%, 20.5%);
		--gray7: hsl(0, 0%, 24.3%);
		--gray8: hsl(0, 0%, 31.2%);
		--gray9: hsl(0, 0%, 43.9%);
		--gray10: hsl(0, 0%, 49.4%);
		--gray11: hsl(0, 0%, 62.8%);
		--gray12: hsl(0, 0%, 93%);

		--grayA1: hsla(0, 0%, 100%, 0);
		--grayA2: hsla(0, 0%, 100%, 0.026);
		--grayA3: hsla(0, 0%, 100%, 0.056);
		--grayA4: hsla(0, 0%, 100%, 0.077);
		--grayA5: hsla(0, 0%, 100%, 0.103);
		--grayA6: hsla(0, 0%, 100%, 0.129);
		--grayA7: hsla(0, 0%, 100%, 0.172);
		--grayA8: hsla(0, 0%, 100%, 0.249);
		--grayA9: hsla(0, 0%, 100%, 0.386);
		--grayA10: hsla(0, 0%, 100%, 0.446);
		--grayA11: hsla(0, 0%, 100%, 0.592);
		--grayA12: hsla(0, 0%, 100%, 0.923);

		--blue1: hsl(212, 35%, 9.2%);
		--blue2: hsl(216, 50%, 11.8%);
		--blue3: hsl(214, 59.4%, 15.3%);
		--blue4: hsl(214, 65.8%, 17.9%);
		--blue5: hsl(213, 71.2%, 20.2%);
		--blue6: hsl(212, 77.4%, 23.1%);
		--blue7: hsl(211, 85.1%, 27.4%);
		--blue8: hsl(211, 89.7%, 34.1%);
		--blue9: hsl(206, 100%, 50%);
		--blue10: hsl(209, 100%, 60.6%);
		--blue11: hsl(210, 100%, 66.1%);
		--blue12: hsl(206, 98%, 95.8%);
	}
}

@layer base {
	* {
		@apply border-border;
	}
	body {
		@apply bg-background text-foreground;
	}

	.flexCenter {
		@apply flex justify-center items-center;
	}

	.flexBetween {
		@apply flex justify-between items-center;
	}

	.flexAround {
		@apply flex justify-around items-center;
	}

	.newsCard {
		@apply flex flex-col md:flex-row md:max-h-96 md:rounded;
	}

	.newsThumbnail {
		@apply w-full h-64 sm:h-80 md:w-auto md:min-h-96 object-cover;
	}

	.newsDetails {
		@apply md:w-3/5 h-32 md:h-96 flex flex-col justify-center gap-3 md:gap-6 p-3 md:px-8 md:py-[64.5px] text-wrap bg-blue-primary text-white;
	}

	.newsContentPreview {
		@apply text-xl h-[84px] overflow-clip md:line-clamp-3 hidden;
	}

	.newsList {
		@apply grid md:grid-cols-2 gap-x-14 gap-y-3 w-full lg:container px-3;
	}
}

.custom-container {
	padding-left: 0.75rem;
	padding-right: 0.75rem;
	max-width: 1400px;
	margin-left: auto;
	margin-right: auto;
}

@media (min-width: 640px) {
	.custom-container {
		padding-left: 1.25rem;
		padding-right: 1.25rem;
	}
}

@media (min-width: 1024px) {
	.lg\:custom-container {
		padding-left: 1.25rem;
		padding-right: 1.25rem;
		max-width: 1400px;
		margin-left: auto;
		margin-right: auto;
	}
}

.vercel {
	[cmdk-root] {
		width: 100%;
		padding: 8px;
		background: #ffffff;
		border-radius: 12px;
		overflow: hidden;
		font-family: var(--font-sans);
		border: 1px solid var(--gray6);
		box-shadow: var(--cmdk-shadow);
		transition: transform 100ms ease;
		outline: none;
		/* margin: 0 2rem; */

		.dark & {
			background: rgba(22, 22, 22, 1);
		}
	}

	[cmdk-input] {
		font-family: var(--font-sans);
		border: none;
		width: 100%;
		font-size: 17px;
		padding: 8px 8px 16px 8px;
		outline: none;
		background: var(--bg);
		color: var(--gray12);
		border-bottom: 1px solid var(--gray6);
		margin-bottom: 16px;
		border-radius: 0;

		&::placeholder {
			color: var(--gray9);
		}
	}

	[cmdk-vercel-badge] {
		height: 20px;
		background: var(--grayA3);
		display: inline-flex;
		align-items: center;
		padding: 0 8px;
		font-size: 12px;
		color: var(--grayA11);
		border-radius: 4px;
		margin: 4px 0 4px 4px;
		user-select: none;
		text-transform: capitalize;
		font-weight: 500;
	}

	[cmdk-item] {
		content-visibility: auto;

		cursor: pointer;
		height: 120px;
		border-radius: 8px;
		font-size: 14px;
		display: flex;
		align-items: center;
		gap: 8px;
		padding: 0 16px;
		color: var(--gray11);
		user-select: none;
		will-change: background, color;
		transition: all 150ms ease;
		transition-property: none;

		&[data-selected="true"] {
			background: var(--grayA3);
			color: var(--gray12);
		}

		&[data-disabled="true"] {
			color: var(--gray8);
			cursor: not-allowed;
		}

		&:active {
			transition-property: background;
			background: var(--gray4);
		}

		& + [cmdk-item] {
			margin-top: 4px;
		}

		svg {
			width: 18px;
			height: 18px;
		}
	}

	[cmdk-list] {
		height: min(330px, calc(var(--cmdk-list-height)));
		max-height: 560px;
		overflow: auto;
		overscroll-behavior: contain;
		transition: 100ms ease;
		transition-property: height;
	}

	[cmdk-vercel-shortcuts] {
		display: flex;
		margin-left: auto;
		gap: 8px;

		kbd {
			font-family: var(--font-sans);
			font-size: 12px;
			min-width: 20px;
			padding: 4px;
			height: 20px;
			border-radius: 4px;
			color: var(--gray11);
			background: var(--gray4);
			display: inline-flex;
			align-items: center;
			justify-content: center;
			text-transform: uppercase;
		}
	}

	[cmdk-separator] {
		height: 1px;
		width: 100%;
		background: var(--gray5);
		margin: 4px 0;
	}

	*:not([hidden]) + [cmdk-group] {
		margin-top: 8px;
	}

	[cmdk-group-heading] {
		user-select: none;
		font-size: 12px;
		color: var(--gray11);
		padding: 0 8px;
		display: flex;
		align-items: center;
		margin-bottom: 8px;
	}

	[cmdk-empty] {
		font-size: 14px;
		display: flex;
		align-items: center;
		justify-content: center;
		height: 48px;
		white-space: pre-wrap;
		color: var(--gray11);
	}
}

@media screen and (min-width: 640px) and (max-width: 1024px) {
	.desktop-nav {
		padding-left: 1rem;
		padding-right: 1rem;
	}

	.newsList {
		padding-left: 1rem;
		padding-right: 1rem;
	}
}

.bar {
	position: relative;
	height: 2px;
	width: 100%;
	margin: 0 auto;
	background: #999999;
	margin-top: 36px;

	.dark & {
		background: #ffffff;
	}
}

.circle {
	position: absolute;
	top: -30px;
	margin-left: 0;
	height: 60px;
	width: 60px;
	left: 0;
	background: #999999;
	border-radius: 30%;
	animation: move 5s infinite;

	.dark & {
		background: #ffffff;
	}
}

.loading {
	position: absolute;
	top: -25px;
	right: 24px;
	text-transform: uppercase;
	color: #ffffff;
	font-family: helvetica, sans-serif;
	font-weight: bold;

	.dark & {
		color: rgba(22, 22, 22, 1);
	}
}

@keyframes move {
	0% {
		left: 0;
	}
	50% {
		left: 68%;
		transform: rotate(450deg);
		width: 150px;
		height: 150px;
	}
	75% {
		left: 68%;
		transform: rotate(450deg);
		width: 150px;
		height: 150px;
	}
	100% {
		right: 100%;
	}
}
